@model IEnumerable<PartyNeighbors.Data.Party>

@{
    ViewBag.Title = "Party Lineup";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New", "Create", null, new { style = "background-color: #DE6500; color:white;", @class = "btn btn-default btn-large" })
<br>
<br>

@{ var ctx = new PartyNeighbors.Data.ApplicationDbContext();}


<input class="form-control col-lg-6" id="myInput" type="text" placeholder="Search..">
<br>


<div class="container-fluid card-group col-lg-12 indexCardDeck" id="searchHere">
    @foreach (var item in Model)
    {
        var host = ctx.Residents.SingleOrDefault(r => r.ResidentId == item.HostId);
        <div class="card indexItem">
            <div class="card-body">
                <div class="card-header partyName">
                    <h1 class="card-title">@Html.DisplayFor(modelItem => item.PartyName)</h1>
                    @{TimeSpan countdown = item.PartyTime - DateTime.UtcNow; }
                </div>
                <div class="partyCountdown">
                    <h5>kicks off in: </h5>
                    <h3 style="color: #DE6500;">@countdown.Days day(s)!</h3>
                </div>
                <div class="cardInfo">
                    @Html.HiddenFor(modelItem => item.PartyId)
                    <h5>@Html.DisplayFor(modelItem => item.Neighborhood.Name)</h5>
                    <p><strong>@Html.DisplayNameFor(model => model.Location.Name):</strong> @Html.DisplayFor(modelItem => item.Location.Name)</p>
                    @{ string partytime = item.PartyTime.ToString("MMM dd, yyyy hh:mm tt");}
                    <p><strong>@Html.DisplayNameFor(model => model.PartyTime):</strong> @Html.DisplayFor(modelItem => partytime)</p>
                    <p><strong>@Html.DisplayNameFor(model => model.HostId):</strong> @Html.DisplayFor(modelItem => host.FullName)</p>
                    <p><strong>@Html.DisplayNameFor(model => model.Category.Name):</strong> @Html.DisplayFor(modelItem => item.Category.Name)</p>
                    <p><strong>@Html.DisplayNameFor(model => model.Capacity):</strong> @Html.DisplayFor(modelItem => item.Capacity)</p>
                </div>
            </div>
            <div class="card-footer" id="indexItem">
                <span class="badge badge-pill badge-warning" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.PartyId })</span>
                <span class="badge badge-pill badge-warning" id="details">@Html.ActionLink("Details", "Details", new { id = item.PartyId })</span>
                <span class="badge badge-pill badge-warning" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.PartyId })</span>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchHere .indexItem").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>