@model IEnumerable<PartyNeighbors.Data.Party>

@{
    ViewBag.Title = "List of Party";
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-default " role="button">@Html.ActionLink("Create New", "Create") &raquo;</button>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <span>@Html.ActionLink("Edit", "Edit", new { id = item.PartyId })</span> |
                <span>@Html.ActionLink("Details", "Details", new { id = item.PartyId })</span> |
                <span>@Html.ActionLink("Delete", "Delete", new { id = item.PartyId })</span>
            </td>
        </tr>
    }

</table>

