@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container jb">
        <h1 class="display-4">Are you ready to <u>PARTY?</u></h1>
        <h4>Previous generations thrived on community in their neighborhood. Some of their best friends came from those living down the street.
        Lets stop being strangers to those we pass multiple time every single day. It's time to break the barriers and learn our surroundings!</h4>
    </div>
</div>

<div class="col-md-4 wrapper">
    <div class="container-fluid sidebar card-deck">
        <div class="card">
            <img class="card-img-top img-responsive" src="~/Assets/emily-jo-sutcliffe-GJsL5ZlfpPI-unsplash.jpg" width="375" height="200" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Neighborhoods", "Index", "Neighborhoods") &raquo;</button>
            </div>
        </div>
        <hr />
        <div class="card">
            <img class="card-img-top img-responsive" src="~/Assets/gaelle-marcel-vrkSVpOwchk-unsplash.jpg" width="375" height="200" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Parties", "Index", "Parties") &raquo;</button>
            </div>
        </div>
        <hr />
        <div class="card">
            <img class="card-img-top img-responsive" src="~/Assets/hedi-alija-rYISpXMfDtM-unsplash.jpg" width="375" height="200" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Categories", "Index", "Categories") &raquo;</button>
            </div>
        </div>
    </div>

    <div class="container-fluid mainContent">

        @* Hidden with screen sizes larger than 750px *@
        <div id="slides" class="carousel container-fluid slide center-block" data-ride="carousel" data-interval="4000">
            <div id="slides" class="carousel-inner">
                <div class="item active">
                    <img src="~/Assets/elisabeth-arnold-QL5PgKelw4s-unsplash.jpg" alt="Evening Escape">
                </div>
                <div class="item">
                    <img src="~/Assets/kelsey-chance-ZrhtQyGFG6s-unsplash.jpg" alt="Brunch">
                </div>
                <div class="item">
                    <img src="~/Assets/you-x-ventures-Oalh2MojUuk-unsplash.jpg" alt="Proessional Meetup">
                </div>
            </div>
            @*slide controls if desired to be used again*@
            @*<a class="left carousel-control" href="#slides" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#slides" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>*@
        </div>

        <div class="container-fluid smallScreenSideBar card-deck">
            <div class="card">
                <img class="card-img-top" src="~/Assets/emily-jo-sutcliffe-GJsL5ZlfpPI-unsplash.jpg" width="375" height="200" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                        quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                        deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Neighborhoods", "Index", "Neighborhoods") &raquo;</button>
                </div>
            </div>
            <hr />
            <div class="card">
                <img class="card-img-top" src="~/Assets/gaelle-marcel-vrkSVpOwchk-unsplash.jpg" width="375" height="200" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                        quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                        deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Parties", "Index", "Parties") &raquo;</button>
                </div>
            </div>
            <hr />
            <div class="card">
                <img class="card-img-top" src="~/Assets/hedi-alija-rYISpXMfDtM-unsplash.jpg" width="375" height="200" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                        quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                        deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-default controllerBtn" role="button">@Html.ActionLink("Categories", "Index", "Categories") &raquo;</button>
                </div>
            </div>
        </div>
        <hr />
        @* ---------------------------------------- *@

        @* Use this Google Map and drop pinpoints for locations in db *@
        <div class="mapOuter container-fluid">
            <div class="gmap_canvas container-fluid">
                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=carlsbad%2C%20california&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.whatismyip-address.com">ip</a>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style>
        </div>
        <br />
    </div>
</div>

