@model PartyNeighbors.Data.Neighborhood

@{
    ViewBag.Title = "Neighborhood Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Neighborhood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NeighborhoodId }) |
        @Html.ActionLink("Back to List", "Index", null, new { style = "background-color: #DE6500; color:white; font-family: 'Rock Salt', cursive;", @class = "btn btn-default btn-large" })
</p>
