@model IEnumerable<PartyNeighbors.Data.Neighborhood>

@{
    ViewBag.Title = "Current Neighborhoods";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New", "Create", null, new { style = "background-color: #DE6500; color:white;", @class = "btn btn-default btn-large" })
<br />
<br />

@using Microsoft.AspNet.Identity
@{ var signedIn = Request.IsAuthenticated; }


<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>

<table class="table table-hover" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td class="userLinks">
                @Html.ActionLink("Locations", "AddLocations", new { id = item.NeighborhoodId }) |
                <span class="badge badge-pill badge-warning" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.NeighborhoodId })</span>
                <span class="badge badge-pill badge-warning" id="details">@Html.ActionLink("Details", "Details", new { id = item.NeighborhoodId })</span>
                <span class="badge badge-pill badge-warning" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.NeighborhoodId })</span>
                @Html.ActionLink("Residents", "Index", "Residents", new { id = item.NeighborhoodId }) |
            </td>
        </tr>
    }

</table>

<div class="container-fluid">
    <table class="table table-hover" id="myTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th></th>
        </tr>
    </table>
    <div class="container-fluid card-deck col-lg-10" id="indexCardDeck">
        @foreach (var item in Model)
        {
            <div class="card col-lg-4" id="indexItem">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <div class="cardInfo">
                        <p>@Html.DisplayFor(modelItem => item.City), 
                           @Html.DisplayFor(modelItem => item.State.StateName)</p>
                        <p>@Html.DisplayFor(modelItem => item.ZipCode)</p>
                    </div>
                </div>
                <div class="card-footer" id="indexItem">
                    <span class="badge badge-pill badge-warning" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.NeighborhoodId })</span>
                    <span class="badge badge-pill badge-warning" id="details">@Html.ActionLink("Details", "Details", new { id = item.NeighborhoodId })</span>
                    <span class="badge badge-pill badge-warning" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.NeighborhoodId })</span>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>