@model IEnumerable<PartyNeighbors.Data.Neighborhood>

@{
    ViewBag.Title = "Current Neighborhoods";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New", "Create", null, new { style = "background-color: #DE6500; color:white;", @class = "btn btn-default btn-large" })
<br />
<br />

@using Microsoft.AspNet.Identity
@{ var signedIn = Request.IsAuthenticated; }


<input class="form-control col-lg-6" id="myInput" type="text" placeholder="Search..">
<br>


    <div class="container-fluid card-deck col-lg-10 indexCardDeck" id="searchHere">
        @foreach (var item in Model)
        {
            <div class="card col-lg-4 indexItem">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <div class="cardInfo">
                        <p>@Html.DisplayFor(modelItem => item.City), 
                           @Html.DisplayFor(modelItem => item.State.StateName)
                           @Html.DisplayFor(modelItem => item.ZipCode)</p>
                    </div>
                </div>
                <div class="card-footer" id="indexItem">
                    <span class="badge badge-pill badge-warning" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.NeighborhoodId })</span>
                    <span class="badge badge-pill badge-warning" id="details">@Html.ActionLink("Details", "Details", new { id = item.NeighborhoodId })</span>
                    <span class="badge badge-pill badge-warning" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.NeighborhoodId })</span>
                </div>
            </div>
        }
    </div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchHere .indexItem").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>