<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Neighbors Landing</title>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Fredericka+the+Great&family=Kalam:wght@300&family=Monoton&family=Permanent+Marker&family=Rock+Salt&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Party 'N", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li><a href="#" id="aboutUs">About Us</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Residents", "Index", "Residents")</li>
                    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                    @*<li>@Html.ActionLink("Party Items", "Index", "PartyItems")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="navbar navbar-inverse navbar-fixed-bottom footer">
            <p>&copy; @DateTime.Now.Year - Party Neighbors</p>
        </div>
    </div>

    <div class="modal fade" id="AboutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Get to Know Us!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                        quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                        deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-secondary close" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AboutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Get to Know Us!</h4>
                </div>
                <div class="modal-body">
                      
                    <text class=""></text>
                    <text></text>
                    <text></text>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-secondary close" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#aboutUs').click(function () {
                $('#AboutModal').modal('show')
            });

            $('#contactUs').click(function () {
                $('#AboutModal').modal('show')
            });
        });
    </script>
</body>
</html>
