@model PartyNeighbors.Data.Category

@{
    ViewBag.Title = "Category Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-sm indexBtn">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId })
    </button> |
    <button class="btn btn-sm indexBtn">
        @Html.ActionLink("Back to List", "Index")
    </button>
</p>
