@model IEnumerable<PartyNeighbors.Data.Category>

@{
    ViewBag.Title = "List of Categories";
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-default " role="button">@Html.ActionLink("Create New", "Create") &raquo;</button>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span class="badge badge-pill badge-warning" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })</span>
                <span class="badge badge-pill badge-warning" id="details">@Html.ActionLink("Details", "Details", new { id = item.CategoryId })</span>
                <span class="badge badge-pill badge-warning" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })</span>
            </td>
        </tr>
    }

</table>
