@model PartyNeighbors.Data.Resident

@{
    ViewBag.Title = "Remove Your Information";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-sm" style = "background-color: #DE6500; color:white; font-family: 'Rock Salt', cursive;" /> |
                @Html.ActionLink("Back to List", "Index", null, new { style = "background-color: #DE6500; color:white; font-family: 'Rock Salt', cursive;", @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
