@model PartyNeighbors.Data.Resident

@{
    ViewBag.Title = "Resident Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResidentId }) |
        @Html.ActionLink("Back to List", "Index", null, new { style = "background-color: #DE6500; color:white; font-family: 'Rock Salt', cursive;", @class = "btn btn-default btn-large" })
</p>
